<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cycle.testdemo.dao.CityMapper">
    <resultMap id="cityEntity" type="com.cycle.testdemo.api.City">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="countrycode" property="countrycode"/>
        <result column="district" property="district"/>
        <result column="population" property="population"/>
    </resultMap>

    <sql id="cityColumns">
        id,
        name,
        countrycode,
        district,
        population
    </sql>
    <select id="getCityOverPopulation" resultType="com.cycle.testdemo.api.City">
        select 
            <include refid="cityColumns" />
        from
            city
        <where>
            <if test="population != null">
                and population > #{population}
            </if>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </where>
    </select>
</mapper>